version: 2.1

jobs:
  run-lint-test:
    docker:
      - image: python:3.7

    working_directory: ~/project

    steps:
      - checkout

      - run:
          name: install dependencies
          command: |
            python3 -m venv ~/.devops
            source ~/.devops/bin/activate
            make install
            wget -O /bin/hadolint https://github.com/hadolint/hadolint/releases/download/v2.10.0/hadolint-Linux-x86_64 &&\
            chmod +x /bin/hadolint
        
      - run:
          name: run lint
          command: |
            python3 -m venv ~/.devops
            source ~/.devops/bin/activate
            make lint

  build-docker-image:
    machine:
      image: ubuntu-2004:2022.07.1
    steps:
      - checkout
      - run:
          name: Build application Docker image
          command: |
            docker build -t duongtd/udacity-final-project:v1 .
      - run:
          name: Push application Docker image
          command: |
            echo "$DOCKERHUB_PASS" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
            docker push duongtd/udacity-final-project:v1

  deploy-k8s:
    docker:
      - image: duongtd/eks:v2
    steps:
      - checkout
      - run:
          name: Deploy K8S cluster
          no_output_timeout: 30m
          command: |
            ANSIBLE_TIMEOUT=30; ansible-playbook ansible/main.yml

  deploy-app:
    docker:
      - image: duongtd/eks:v3
    steps:
      - checkout
      - run:
          name: Deploy app on K8S cluster
          command: |
            apt-get update
            apt-get install -y ca-certificates curl
            curl -fsSLo /usr/share/keyrings/kubernetes-archive-keyring.gpg https://packages.cloud.google.com/apt/doc/apt-key.gpg
            echo "deb [signed-by=/usr/share/keyrings/kubernetes-archive-keyring.gpg] https://apt.kubernetes.io/ kubernetes-xenial main" | tee /etc/apt/sources.list.d/kubernetes.list
            apt-get update
            apt-get install -y kubectl
            aws eks update-kubeconfig --region ap-southeast-1 --name udacity-final-project
            # kubectl version
            kubectl apply -f k8s/deploy.yml

workflows:
  default:
    jobs:
      - run-lint-test:
          filters:
            branches:
              only: [main]
      - build-docker-image:
          requires: [run-lint-test]
          filters:
            branches:
              only: [main]
      - deploy-k8s:
          requires: [build-docker-images]
          filters:
            branches:
              only: [main]
      - deploy-app:
          requires: [deploy-k8s]
          filters:
            branches:
              only: [main]