---
apiVersion: v1
kind: Service
metadata:
  annotations:
      service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
  labels:
    app: udacity-final-project
  name: udacity-final-project
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: udacity-final-project2
  type: LoadBalancer